*{
    margin: 0px;
    padding: 0px;
}
.container {
    width: 710px;
    height: 460px;
    margin: 0 auto;
    position: relative;
    padding: 5px;
}
img.slide {
    width: 710px;
    height: 460px;
}

img.slide:not(:first-child) {
    display: none;
}
.change-img {
    text-align: center;
    margin-top: 1rem;
}
button {
    background: #777;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    font-weight: bold;
    border: none;
}
button.active {
    background: #444;
    color: white;
}

